html::-webkit-scrollbar {
	width: 1rem;
  }
  
  html::-webkit-scrollbar-track {
	background-color: white;
  }
  
  html::-webkit-scrollbar-thumb {
	background-color: #8e44ad;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-control {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="month"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

select option{

    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0069d9;
}

input[type="submit"]:active {
    background-color: #0062cc;
}

.form-image {
	display: flex;
	justify-content: space-between;
 }
 
 
 .form-image img {
	width: 30%;
 }